/.artifacts/
/cmd/*/cloud_bundle/
.swp
.toolchain/
.worktrees/
*.tsbuildinfo
/clients/ui/public/*-wasm/
/node_modules/
/cloud/web/node_modules/
/private/archive/**/.build/
/anytty
/muxvia
/test-results/
/clients/mobile/test-results/
/剪贴板 *.png
Screenshot_*.jpg
*-debug-*.zip
