/.artifacts/
/cmd/*/cloud_bundle/
.swp
.toolchain/
.worktrees/
*.tsbuildinfo
/clients/ui/public/*-wasm/
/node_modules/
/cloud/web/node_modules/
/private/archive/**/.build/
Screenshot_*.jpg
*-debug-*.zip
